<html>
<head> 
<link rel="shortcut icon" type="image/x-icon" href="nk.pdf.png" src="nk.pdf.png" />
          <title>niki!</title>
  <!--        <link rel="stylesheet" type="text/css" href="stylesheet.css">-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    
    <script src="//ajax.googleapis.com//ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <!-- <script src="main.js"></script> -->
    <script src="../static/work.js"></script>


          <meta charset="UTF-100">
          <meta name="description" content="Nicole Konforti">
          <meta name="keywords" content="NicoleKonforti,Columbia">
          <meta name="author" content="Nicole Konforti">

</head>

<style>

	.topnav {
        	overflow: hidden;
        	background-color: #333;
    	}
    	.topnav a {
        	float: left;
        	color: #f2f2f2;
        	text-align: center;
        	padding: 14px 16px;
        	text-decoration: none;
        	font-size: 17px;
    	}	
	.topnav a:hover {
        	color: black;
        	cursor: grab;
    	}

	.work_but{
		padding: 10px;
		margin: 10px;
	}

</style>

<body>

<ul class = "topnav">
	<a href="http://www.nikikonforti.com">about</a>
	<a href="http://www.nikikonforti.com/templates/art.html">art</a>
	<a href="http://www.nikikonforti.com/Resume.pdf">resume</a>
	<a href="http://www.github.com/nikikonforti">github</a>
	<a href="http://www.nikikonforti.com/templates/work.html">work</a>
</ul>
 
<h3> Some of the projects I have worked on. </h3>
<br> <br>
<button id = "ui_project" class = "work_but"> music theory project </button>
<button id = "set_project" class = "work_but"> set game </button>
</body>
</html>
